.my-profile-container {
  display: flex;
  flex-direction: column;
  background-color: var(--appBackground);
  border: 1px solid rgb(41, 1, 43);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 4px 4px 2px -2px rgba(0, 0, 0, 0.4);
  align-items: center;
}

.profile-header {
  display: flex;
  justify-content: center;
  color: var(--primary);
  align-items: center;
}

.user-info {
    color: var(--primary);
  font-family: "Roboto", sans-serif;
  align-items: center;
  margin-bottom: rem;
}

.p-info {
    margin-bottom: 4rem;
    color: rgb(240, 239, 232);
}
