.characters {
  display: flex;
  flex-direction: column;
}

.lfg-list-body {
  background-color: rgb(81, 80, 79);
}

.lfg-list-header {
  display: flex;
  justify-content: center;
  color: var(--primary);
}

.lfg-characters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto
}

.lfg-character-listing {
  display: flex;
  background-color: var(--appBackground);
  border: 1px solid rgb(41, 1, 43);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.4);
  width: 100%;
  align-items: center;
}



.character-name {
  display: flex;
  border: 1px solid black;
}

.character-name:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

section.character {
  margin: 3rem;
}

.character {
  background-color: var(--appBackground);
  border: 1px solid var(--outline);
  border-radius: 0.5rem;
  padding: 1rem;
}

.character-info {
  color: var(--primary);
  font-family: "Roboto", sans-serif;
  align-items: center;
  margin: 3rem;
}

.character-info-button {
  color: var(--primary);
  font-family: "Roboto", sans-serif;
  align-items: center;
  margin: 3rem;
  border: 1px solid var(--primary)
}

.character-header {
  font-size: larger;
  font-weight: 700;
  line-height: 3rem;
  color: var(--primary);
}

.character-active-status {
  align-items: center;
  margin: 3rem;
}

.active-status-active {
  color: rgb(36, 216, 36);
}

.active-status-inactive {
  color: rgb(246, 76, 76);
}

.my-characters-list-body {
  background-color: rgb(81, 80, 79);
}

.my-characters-list-header {
  display: flex;
  justify-content: center;
  color: var(--primary);
}

.details-header {
  display: flex;
  justify-content: center;
  color: var(--primary);
}

.details-container {
  
}

.my-characters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-character-listing {
  display: flex;
  background-color: var(--appBackground);
  border: 1px solid rgb(41, 1, 43);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.4);
  width: 100%;
  align-items: center;
}

.my-character-details {
  display: flex;
  flex-direction: column;
  background-color: var(--appBackground);
  border: 1px solid rgb(41, 1, 43);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.4);
  width: 100%;
  align-items: center;
}

.others-characters-list-body {
  background-color: rgb(81, 80, 79);
}

.others-characters-list-header {
  display: flex;
  justify-content: center;
  color: var(--primary);
}

.others-characters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.others-character-listing {
  display: flex;
  background-color: var(--appBackground);
  border: 1px solid rgb(41, 1, 43);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.4);
  width: 100%;
  align-items: center;
}

.others-character-details {
  display: flex;
  flex-direction: column;
  background-color: var(--appBackground);
  border: 1px solid rgb(41, 1, 43);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.4);
  width: 100%;
  align-items: center;
}



.favorite-list-body {
  background-color: rgb(81, 80, 79);
}

.favorite-list-header {
  display: flex;
  justify-content: center;
  color: var(--primary);
}

.favorite-characters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite-character-listing {
  display: flex;
  background-color: var(--appBackground);
  border: 1px solid rgb(41, 1, 43);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.4);
  width: 100%;
  align-items: center;
}